body {
    background-color: #4e4b4b;
    width: 300px;
    height: 300px;
    margin: 0 !important;
}

.container {
    height: 300px;
    width: 300px;
    background: #4e4b4b;
    font-size: 24px;
    font-style: normal;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}