body {
    background-color: #e9ecef;
}

.prompt {
    margin-top: 25q;
}

h1 {
    pointer-events: none;
    user-select: none;
}
p {
    pointer-events: none;
    user-select: none;
}

p a {
    pointer-events: all;
}
.navbar {
    pointer-events: none;
    user-select: none;
}